@import './settings.scss';

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif !important;
  color: $main-color !important;
}

// Override buttons styling

.btn {
  border-radius: 0;
}

.btn-outline-secondary {
  color: $main-color;
  border-color: $main-color;

  &:hover {
    background-color: $main-color !important;
  }
}

// Override breadcrumb link style
.breadcrumb-item > a {
  text-decoration: none;
}
