// general-settings
$base-size: 12px;

// general-colors
$main-color: #551e19;
$bg-white: #ffffff;
$bg-grey: #eeeeee;

// text-colors
$text-color-white: #ffffff;
$price-color-new: #f35e54;
$price-color-old: #ccc;

// label colors
$label-sale: #f35e54;
$label-top: #7dd2ea;
$label-out: #ccc;

// transition
$transition: all 0.5s ease;

// footer
$bg-footer: #333;
$footer-header-color: #ffffff;
$footer-text-color: #777;
